:root {
    --pink: #E63A87;
    --pink-desat: #e892b7;
    --near-black: #151515;
    --border-grey: rgb(210, 210, 210);
}

/* ------------ GENERAL ------------ */

body {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.1em;
}

/* ------------ HEADER ------------ */

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#header-image-container {
    flex: 1;
    padding: 30px;
}

#header-image {
    max-width: 250px;
    width: 100%;
}


#search-container {
    flex: 2;
    display: flex;
    justify-content: center;
    padding: 0 5%;
}

#searchbar {
    width: 100%;
    border-radius: 0;
    border-width: 1px;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'PT Sans', sans-serif;
}

#searchbar:focus {
    outline: none;
}

#search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: none;
    background-color: var(--near-black);
    height: 2.8em;
    width: 2.8em;
}

#search-button img {
    height: 1.8em;
}

/* ------------ NAVBAR ------------ */

    /* Dropdown Button */
    .nav-button {
        background-color: white;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        font-family: 'PT Sans', sans-serif;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown-container {
        position: static;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        width: 25vw;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .nav-dropdown-content button {
        color: black;
        background-color: white;
        border: none;
        width: 100%;
        padding: 12px 16px;
        display: block;
        text-align: left;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content button:hover {color: var(--pink);}



    /* Show the dropdown menu on hover */
    .dropdown-container:hover .nav-dropdown-content {display: block;}

    /* .dropdown-container:hover .cart-dropdown-content {display: block;} */
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    background-color: white;
}

/* Shopping cart dropdown */
    .cart-dropdown-content h1 {
        color: black;
        font-size: 1em;
    }

    .icon-button {
        background-color: transparent;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        width: fit-content;
        height: fit-content;
    }

    #cart-button img {
        width: 40px;
    }

    #cart-container {
        height: 40px;
        flex: 1;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 10px;
    }

    .cart-dropdown-content {
        width: 400px;
        text-align: left;
        position: absolute;
        right: 15px;
        
    }

    .cart-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cart-item-image {
        width: 10%;
    }

    .cart-item-image img {
        width: 100%;
    }
 
    .cart-item-description {
        width: 50%;
    }

    .cart-item-quantity, .cart-item-delete, .cart-item-price {
        display: flex;
        align-items: center;
        padding: 0 5px;
    }

    .cart-item-quantity .item-quantity-input {
        width: 100%;
    }

    .cart-item-price {

        width: 15%;
        justify-content: end;
    }

    .cart-item-quantity, .cart-item-delete {
        width: 10%;
    }

 /* ------------ CONTENT ------------ */

 #content {
    background-color: transparent;
    margin: 60px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
 }

 @media (min-width: 1000px) {
    #content { margin: 60px 10%; }
}

#content h1 {
    font-size: 1.5em;
}

 /* filters */

    #filter-container {
        width: 220px;
        min-width: 220px;
        max-width: 220px;
    }

    .filter {
        border-top: 1px solid var(--border-grey);
        padding-bottom: 10px;
    }

    #price-input-form {
        display: flex;
        justify-content: space-between;
    }

    #price-input-form input {
        width: 45%;
    }

    .last-filter {
        border-bottom: 1px solid var(--border-grey);
    }
    

/* products */

    #product-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
        height: fit-content;
        width: 100%;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 10px;
        width: calc(25% - 30px);
        
        max-height: 450px;
        background-color: white;
    }

    .product-card:hover {
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    }

    .product-image {
        max-height: 200px;
        min-height: 200px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
        padding-bottom: 10px;
    }

    .product-brand {
        font-weight: bold;
        padding-bottom: 5px;
    }

    .product-name {
        flex-grow: 1;
    }

    .product-price {
        font-weight: bold;
        margin-top: 20px;
    }

    .dropdown-bag-container {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
    }
    .add-to-cart-button {
        border: none;
        border-radius: 5px;
        color: white;
        background-color: var(--pink-desat);
        height: 36px;
        visibility: hidden;
        flex-shrink: 0;
    }

    .icon-add-to-cart-button {
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }

    .icon-add-to-cart-button img {
        width: 100%;
    }

    .product-card:hover .add-to-cart-button, .product-card:hover .icon-add-to-cart-button {
        visibility: visible;
    }

    .colour-select {
        width:100%;
    }